@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 340 82% 76%; /* #F48FB1 */
  --foreground: #ffffff;
  --primary: #e8b4a4;
  --primary-foreground: #000000;
  --card-background: #ffffff;
  --card-foreground: #000000;
}

body {
  background-color: hsl(var(--background));
  color: var(--foreground);
}