@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFCC80; /* #F48FB1 */
  --foreground: #ffffff;
  --primary: red;
  --primary-foreground: #000000;
  --card-background: #ffffff;
  --card-foreground: #000000;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}